<!DOCTYPE html>
<html lang="en" data-ng-app="Schibsted">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Schibsted Feeds</title>
        <link rel="stylesheet" href="assets/bower_components/normalize-css/normalize.css" />
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>
    <body>
        <header class="logo"><a href="http://www.schibsted.pl"><img src="assets/img/stp_logo.png" alt="Schibsted Tech Polska" /></a></header>
        <section class="container">
            {{route}}
            <nav data-ng-controller="MenuCtrl">
                <ul>
                    <li><a data-ng-class="{active: routeIs('/varnish')}" data-ng-href="#/varnish">Varnish</a></li>
                    <li><a data-ng-class="{active: routeIs('/rss')}" data-ng-href="#/rss">RSS Feed</a></li>
                    <li><a data-ng-class="{active: routeIs('/jsonp')}" data-ng-href="#/jsonp">JSONP</a></li>
                </ul>
            </nav>
            <div class="content"><ng-view></ng-view></div>
        </container>
        <script type="text/javascript" src="assets/bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="assets/bower_components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="app/components/menu/menu.ctrl.js"></script>
        <script type="text/javascript" src="app/components/varnish/varnish.srvc.js"></script>
        <script type="text/javascript" src="app/components/varnish/varnish.ctrl.js"></script>
        <script type="text/javascript" src="app/components/jsonp/jsonp.srvc.js"></script>
        <script type="text/javascript" src="app/components/jsonp/jsonp.ctrl.js"></script>
        <script type="text/javascript" src="app/components/rss/rss.srvc.js"></script>
        <script type="text/javascript" src="app/components/rss/rss.ctrl.js"></script>        
    </body>
</html>