<h1>Varnish log</h1>
<h2>Hostnames with most traffic</h2>
<ol class="log_list">
	<li data-ng-repeat="item in data.hostnames">
		<p>{{item.groupName}} <span>({{item.counter}})</span></p>
	</li>
</ol>
<h2>Most requested files</h2>
<ol class="log_list">
	<li data-ng-repeat="item in data.files">
		<p>{{item.groupName}} <span>({{item.counter}})</span></p>
	</li>
</ol>