<h1>{{data.title}} - most recent articles</h1>
<ul class="articles">
	<li data-ng-repeat="item in data.entries | orderBy: '-timestamp'">
		<p class="date">{{item.publishedDate | date:'dd-MM-yyyy'}}<br />{{item.publishedDate | date: 'HH:mm:ss'}}</p>
		<div>
			<p>
				<a data-ng-href="{{item.link}}">{{item.title}}</a>
			</p>
			<p>{{item.link}}</p>
		</div>		
	</li>
</ul>