<h1>{{data.title}}</h1>
<div class="photosContainer">
	<div class="photo" data-ng-repeat="item in data.items">
		<div class="card">
			<div class="front" style="background-image: url({{item.media.m}});"></div>
			<div class="back">
				<h2>{{item.title}}</h2>
				<p>{{item.author}}</p>
				<p class="tags">Tags: <span>{{item.tags}}</span></p>
			</div>
		</div>
	</div>
</div>