@import 'https://fonts.googleapis.com/css?family=Inconsolata';
@color_schibsted: #004F91;
@border: 1px solid @color_schibsted;
@padding_05em: 0.5em;

@desktop: ~"(min-width: 960px)";
@tablet: ~"(min-width: 720px) and (max-width: 959px)";

* {
	font-family: 'Inconsolata', monospace;
}

.logo {
	margin: 1em auto;
	width: 320px;

	img {
		width: 100%;
	}
}

.container {
	border: @border;
	margin: 0 auto 1em;
	width: 320px;
	@media @tablet {
		width: 720px;
	}
	@media @desktop {
		width: 960px;	
	}

	nav {
		background-color: @color_schibsted;
		border-bottom: @border;
		text-transform: uppercase;

		ul {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				border-top: @border;
				line-height: 2em;

				a {
					color: #fff;
					padding: 0.5em;
					text-decoration: none;

					&.active {						
						background-color: #fff;
						color: @color_schibsted;
						position: relative;

						&:after {
							content: "";
							position: absolute;
							top: 100%;
							left: 50%;
							border-top: 8px solid @color_schibsted;
							border-left: 8px solid transparent;
							border-right: 8px solid transparent;
							margin-left: -8px
						}
					}
				}
			}
		}
	}

	a {
		color: @color_schibsted;
	}

	.content {
		padding: 1em;

		h1 {
			margin: 0 0 0.5em;
		}

		h2 {
			margin: 0.5em 0 0.3em;
		}
	}

}



/* PHOTO */
.photosContainer {
	display: flex;
	flex-wrap: wrap;

	.photo {
		box-sizing: border-box;
		border-radius: 20%;
		padding: @padding_05em;
		position: relative;
		text-align: center;
		height: 290px;
		width: 290px;

		@media @tablet {
			height: 229px;
			width: 229px;
		}
		@media @desktop {
			height: 185px;
			width: 185px;			
		}


		.card {
			background-color: #ddd;
			height: 100%;
			transform-style: preserve-3d;
			transition: all 1.0s linear;
			width: 100%;

			div {
				backface-visibility: hidden;
				height: 100%;
				position: absolute;
				width: 100%;
			}

			.front {
				background-position: center;
				background-repeat: no-repeat;
				object-fit: cover;
			}

			.back {
				display: block;
				transform: rotateY(180deg);
				box-sizing: border-box;
				padding: 10px;
				color: white;
				text-align: center;

				h2 {
					font-size: 1.2em;
					margin: 0 0 0.5em;
				}
			}
		}

		&:hover .card {
			transform: rotateY(180deg);
		}

		p {
			margin-top: 0;
		}

		img {
			max-width: 100%;
			
		}

		@font-size: 0.7em;
		@line-height: 1em;
		@lines-to-show: 2;
		.tags {
			display: -webkit-box;
			font-size: @font-size;
			height: @line-height*@lines-to-show;
			line-height: @line-height;
			-webkit-line-clamp: @lines-to-show;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

/* LOCAL VARNISH LOG */
.log_list {
	counter-reset: section;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		border-bottom: @border;
		display: flex;
		word-break: break-word;
		word-wrap: break-word;

		&:before {
			counter-increment: section;
			content: counter(section) ".";
			border-right: @border;
			padding: @padding_05em;
		}

		p {
			margin: 0;
			padding: @padding_05em;
		}

		&:last-child {
			border-bottom: none;
		}
	}
}

/* ARTICLES */
.articles {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		border-bottom: @border;
		display: flex;
		word-break: break-word;
		word-wrap: break-word;

		.date {
			align-items: center;
			display: flex;
			font-size: 0.8em;
			padding: @padding_05em;
			text-align: center;
		}

		div {
			border-left: @border;
			flex: 1 1;
			padding: @padding_05em;
		}

		p {
			margin: 0;
		}

		&:last-child {
			border-bottom: none;
		}
	}
}