@import 'https://fonts.googleapis.com/css?family=Inconsolata';
* {
  font-family: 'Inconsolata', monospace;
}
.logo {
  margin: 1em auto;
  width: 320px;
}
.logo img {
  width: 100%;
}
.container {
  border: 1px solid #004F91;
  margin: 0 auto 1em;
  width: 320px;
}
@media (min-width: 720px) and (max-width: 959px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 960px) {
  .container {
    width: 960px;
  }
}
.container nav {
  background-color: #004F91;
  border-bottom: 1px solid #004F91;
  text-transform: uppercase;
}
.container nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.container nav ul li {
  border-top: 1px solid #004F91;
  line-height: 2em;
}
.container nav ul li a {
  color: #fff;
  padding: 0.5em;
  text-decoration: none;
}
.container nav ul li a.active {
  background-color: #fff;
  color: #004F91;
  position: relative;
}
.container nav ul li a.active:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-top: 8px solid #004F91;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: -8px;
}
.container a {
  color: #004F91;
}
.container .content {
  padding: 1em;
}
.container .content h1 {
  margin: 0 0 0.5em;
}
.container .content h2 {
  margin: 0.5em 0 0.3em;
}
/* PHOTO */
.photosContainer {
  display: flex;
  flex-wrap: wrap;
}
.photosContainer .photo {
  box-sizing: border-box;
  border-radius: 20%;
  padding: 0.5em;
  position: relative;
  text-align: center;
  height: 290px;
  width: 290px;
}
@media (min-width: 720px) and (max-width: 959px) {
  .photosContainer .photo {
    height: 229px;
    width: 229px;
  }
}
@media (min-width: 960px) {
  .photosContainer .photo {
    height: 185px;
    width: 185px;
  }
}
.photosContainer .photo .card {
  background-color: #ddd;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
  width: 100%;
}
.photosContainer .photo .card div {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.photosContainer .photo .card .front {
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
.photosContainer .photo .card .back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
}
.photosContainer .photo .card .back h2 {
  font-size: 1.2em;
  margin: 0 0 0.5em;
}
.photosContainer .photo:hover .card {
  transform: rotateY(180deg);
}
.photosContainer .photo p {
  margin-top: 0;
}
.photosContainer .photo img {
  max-width: 100%;
}
.photosContainer .photo .tags {
  display: -webkit-box;
  font-size: 0.7em;
  height: 2em;
  line-height: 1em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* LOCAL VARNISH LOG */
.log_list {
  counter-reset: section;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.log_list li {
  border-bottom: 1px solid #004F91;
  display: flex;
  word-break: break-word;
  word-wrap: break-word;
}
.log_list li:before {
  counter-increment: section;
  content: counter(section) ".";
  border-right: 1px solid #004F91;
  padding: 0.5em;
}
.log_list li p {
  margin: 0;
  padding: 0.5em;
}
.log_list li:last-child {
  border-bottom: none;
}
/* ARTICLES */
.articles {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.articles li {
  border-bottom: 1px solid #004F91;
  display: flex;
  word-break: break-word;
  word-wrap: break-word;
}
.articles li .date {
  align-items: center;
  display: flex;
  font-size: 0.8em;
  padding: 0.5em;
  text-align: center;
}
.articles li div {
  border-left: 1px solid #004F91;
  flex: 1 1;
  padding: 0.5em;
}
.articles li p {
  margin: 0;
}
.articles li:last-child {
  border-bottom: none;
}
